<!-- <p>componenta works!</p>
<h2>{{ title }}</h2>
<p>Author: {{ author }}</p>
<p>{{ message }}</p> -->
<div class="announcement-container">
    <h2 class="announcement-title">{{ announcement.title }}</h2>
    <p class="announcement-message">{{ announcement.description }}</p>
    <p class="announcement-author">{{ announcement.author | byAuthor }}</p>
    <button mat-raised-button color="primary"(click)="onEdit()">Edit</button>
    <button mat-raised-button color="warn" (click)="onDelete()">Delete</button>
  </div>


