<form class="example-form" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Title</mat-label>
          <input matInput placeholder="Title" [(ngModel)]="title" name="title" required>
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="example-full-width">
          <mat-label>Author</mat-label>
          <input matInput placeholder="Author" [(ngModel)]="author" name="author" required>
        </mat-form-field>
      </td>
    </tr>
  </table>
  <mat-form-field class="example-full-width">
    <mat-label>Leave a message</mat-label>
    <textarea matInput placeholder="..." [(ngModel)]="message" name="message" required></textarea>
    </mat-form-field>
  <h4></h4>
    <mat-form-field>
      <mat-label>Choose category</mat-label>
      <mat-select [(ngModel)]="selectedCategory" name="category" required>
        <ng-container *ngFor="let category of categories">
          <mat-option [value]="category.id">
            {{ category.name }}
          </mat-option>
        </ng-container>
                                
      </mat-select>
    </mat-form-field>
    <div class="buttons-container">
      <button mat-raised-button color="primary" type="submit">Add Announcement</button>
      <button mat-raised-button color="warn" (click)="onCancel()">Cancel</button>
    </div>
</form>